<div class="producto col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card">
        <img src="{{image_path}}" alt="{{name}}" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title">{{name}}</h3>
            <p class="card-text">{{description}}</p>
            {{#if discount}}
            <div class="precio-container">
                <span class="precio-descuento">${{discounted_price}}</span>
                <span class="ahorra">Ahorra ${{discount}}</span>
            </div>
            <span class="precio-original" text-align="left">Regular: $<span class="tachado">{{price}}</span></span>
            {{else}}
            <span class="precio">${{price}}</span>
            {{/if}}
        </div>
    </div>
</div>
