# Locked dependency constraints for admin/product_manager.
# Generated with Python 3.12:
#   python -m pip install -r requirements.txt
#   python -m pip freeze > requirements.lock.txt
astroid==4.0.4
bandit==1.9.3
boolean.py==5.0
CacheControl==0.14.4
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
coverage==7.13.4
cyclonedx-python-lib==11.6.0
defusedxml==0.7.1
dill==0.4.1
execnet==2.1.2
filelock==3.24.2
idna==3.11
iniconfig==2.3.0
isort==7.0.0
librt==0.8.1
license-expression==30.4.4
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
mypy==1.19.1
mypy_extensions==1.1.0
packageurl-python==0.17.6
packaging==26.0
pathspec==1.0.4
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.9.2
pluggy==1.6.0
portalocker==3.2.0
py-serializable==2.1.0
Pygments==2.19.2
pylint==4.0.4
pyparsing==3.3.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
pywin32==311
PyYAML==6.0.3
requests==2.32.5
rich==14.3.2
ruff==0.15.1
sortedcontainers==2.4.0
stevedore==5.6.0
tomli==2.4.0
tomli_w==1.2.0
tomlkit==0.14.0
types-Pillow==10.2.0.20240822
typing_extensions==4.15.0
urllib3==2.6.3

