# Full-version freeze of the Content Manager environment.
# Generated with Python 3.14:
#   pip install -r requirements.txt -r requirements-dev.txt
#   pip freeze > requirements.lock.txt
# To reproduce:  pip install -r requirements.txt -r requirements-dev.txt -c requirements.lock.txt
# For runtime-only: pip install -r requirements.txt -c requirements.lock.txt
astroid==4.0.4
bandit==1.9.4
boolean.py==5.0
CacheControl==0.14.4
certifi==2026.6.17
charset-normalizer==3.4.9
coverage==7.15.1
cyclonedx-python-lib==11.11.0
defusedxml==0.7.1
dill==0.4.1
execnet==2.1.2
filelock==3.29.7
idna==3.18
iniconfig==2.3.0
isort==7.0.0
librt==0.13.0
license-expression==30.4.4
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.2.1
mypy==1.19.1
mypy_extensions==1.1.0
packageurl-python==0.17.6
packaging==26.2
pathspec==1.1.1
pillow==12.3.0
pillow-avif-plugin==1.5.5
pillow_heif==1.4.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.1
platformdirs==4.10.0
pluggy==1.6.0
portalocker==3.2.0
py-serializable==2.1.0
Pygments==2.20.0
pylint==4.0.5
pyparsing==3.3.2
pytest==9.1.1
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
PyYAML==6.0.3
requests==2.34.2
rich==14.3.3
ruff==0.15.21
sortedcontainers==2.4.0
stevedore==5.9.0
tomli==2.4.1
tomli_w==1.2.0
tomlkit==0.15.0
ttkbootstrap==1.20.4
types-Pillow==10.2.0.20240822
typing_extensions==4.16.0
urllib3==2.7.0
